<% include ../partials/stylesheet %>

<div class="contact_main">
    <h1>WHO WE ARE</h1>
    <br>
    <h2>프라임 조달 컨설팅은 정확하고 신속한 정보제공, 끊임없는 소통을 통하여 <br>
    고객사의 공공조달 시장진입 및 성공적인 사업영위를 이끌어 드리고자 설립된 조달분야 자문업체입니다.</h2>
</div>
            
<div class="left_contact">
    <h1>프라임 조달 컨설팅</h1>
    <h1>온라인 상담 신청</h1>
    <br>
    <div class="button_enquiry">
        <a href="/service"> 바로가기 </a>
    </div>
</div>

<div class="right_contact">
    <h1>Talk To Our</h1>
    <h1>Expert Team</h1>
    <br>
    <h2>02    2157   8830</h2>
    <h2>info@ppckorea.com</h2>
</div>

<div class="contact_main1"></div>