<% include ../partials/stylesheet %>

<div class="enquiry">
    <div class="enquiry_content">
        <h1>분석 서비스 온라인 문의</h1>
        <br>
        <h2>저희는 고객에게 신속하고 정확한 조달 정보를 드리는데 항상 노력하고 있습니다. 조달업무와 관련하여 여러분이 계획하거나 궁금한점을 문의바랍니다.</h2>
        <br>
        <form action="/mailerEnquiry" method="POST">
            
        <!-- 회사명-->
        <div class="input_enquiry">
                <div class="input_enquiry_1">
                    <input class="enquiry" id="company1" name="company1" type="text" placeholder="회사명"  onkeypress="if(event.keyCode==13){return false;}">
                </div>
        </div>

        <!--담당자-->
        <div class="left_enquiry">
            <div class="form">
                <input class="enquiry" id="name" name="name" type="text" placeholder="담당자 성함"  onkeypress="if(event.keyCode==13){return false;}">

            </div> 
        </div>
        <div class="right_enquiry">
            <div class="form">
                <input class="enquiry" id="contact_title" name="contact_title" type="text"  placeholder="직함" onkeypress="if(event.keyCode==13){return false;}">
            </div> 
        </div>
        
        <!-- 연락처 -->
        <div class="left">
            <div class="input_enquiry_1">
                <input class="enquiry" id="email1" name="email1" type="email" placeholder="이메일주소" onkeypress="if(event.keyCode==13){return false;}">
            </div>
        </div>
        <div class="right">
            <div class="input_enquiry_1">
                <input class="enquiry" id="phone" name="phone" type="tel" placeholder="전화번호" onkeypress="if(event.keyCode==13){return false;}">
             </div>  
        </div>

        <hr>

        <!--관심 분야 체크박스-->
        <h3>문의 내용</h3>
        <div class="input_enquiry">
            <div class="column_check1">
                <label class="check">입찰참가자격
                    <input name="enquiry_area"  type="checkbox" value="입찰참가자격">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="column_check3">
            </div>
            <div class="column_check1">
                <label class="check">공고문 추천/분석
                    <input name="enquiry_area"  type="checkbox" value="공고문 추천/분석">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="column_check3">
            </div>
            <div class="column_check1">
                <label class="check">투찰가 분석
                    <input name="enquiry_area"  type="checkbox" value="투찰가 분석" >
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="column_check1">
                <label class="check">적격심사 분석
                    <input name="enquiry_area" type="checkbox" value="적격심사 분석">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="column_check3">
            </div>
            <div class="column_check1">
                <label class="check">다수공급자계약
                    <input name="enquiry_area" type="checkbox" value="다수공급자계약">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="column_check3">
            </div>
            <div class="column_check1">
                <label class="check">기타 문의
                    <input name="enquiry_area" type="checkbox" value="기타 문의">
                    <span class="checkmark"></span>
                </label>
            </div>
           <hr>
        
            <!--참고사항 박스-->
            <div class="input_enquiry_textarea">
                <div class="text_enquiry">
                    <textarea class="enquiry" id="enquiry_textarea" name="enquiry_textarea" placeholder="상담을 위해 저희가 참고하여야할 사항을 자유롭게 작성바랍니다."></textarea>
                    <input type="text" style="display: none;" />
                </div>
            </div>

            <!--문의하기 버튼-->
            <div class="button_bidlist_content">
                <div class="button_bidlist">
                    <button class="bid_list">온라인 문의</button>
                </div>
            </div>

        </div>      
        
        </form>
    </div>
</div>