<% include ../partials/stylesheet %>
<div class="page-footer-link">
        <ul>
                <li><a href="/service">서비스 소개</a></li>
                <li><a href="/partner">제휴 문의</a></li>
                <li><a href="/csCenter">이용 약관</a></li>
        </ul>
</div>
<div class="page-footer">
        <h4>상호 프라임조달컨설팅   |   대표자  허준수, CHUN SEOK IN   |   사업자번호 525-55-00168 <br>
        서울특별시 송파구 충민로 66 F-8013호 (문정동, 가든파이브라이프)   |   TEL 02 2157 8830   |   FAX 02 522 8827 <br>
        info@ppckorea.com<h4>
</div>