<html>
    <body>
        <div id="content-header">
            <div class="column6">
            </div>
            <div class="column7">
                    <div class="search">
                            <input class="search" type="text" placeholder="검색어 입력">
                            <button class="search"> 검색</button>
                    </div>
            </div>
            <div class="column6"></div>
        </div>
    </body>
</html>