
<% include ../partials/stylesheet %>

<div class="page-header">
    <a href="/">
        <img class="logo" src ="/images/ppc_logo.jpg" style="height: 80px; width: 200px;" alt="logo">
    </a>
    <h1>전국 입찰 공고 맞춤 검색</h1>
    <!--<h1>
        <% if(title) {%>
        <%= title %>
        <% }%>
    </h1>-->
</div>
<div class="page-header-search">
        <div class="search">
                <input class="search" type="text" placeholder="검색어 입력">
                <button class="search"> 검색</button>
        </div>
</div>
