<% include ../partials/stylesheet %>

<div id="menu">
        <ul>
            <li><a href="#">공고 검색</a></li>
            <li><a href="#">조달 규정</a></li>
            <li><a href="#">조달 교육</a></li>
            <li><a href="#">사설</a></li>
            <li><a href="#">고객 지원</a></li>
        </ul>
</div>