body {
  width: 960px;
  margin: 0 auto;
  /*border: solid 1px #cacaca;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.left{
  width: 50%;
  float: left;
  padding: 5px 5px 5px 5px;
  box-sizing: border-box;
}

div.right{
  width: 50%;
  display: inline-block;
  padding: 5px 5px 5px 5px;
  box-sizing: border-box;
}

a {
  color: rgb(43, 44, 44);
}

/* 문의 사항 폼 */
div.contact_main{
  width: 960px;
  height: 180px;
  text-align: center;
  padding: 50px 0px 0px 0px;
}

div.contact_main1{
  height: 30px;
}

div.contact_main h1 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

div.contact_main h2 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-decoration: none;
}

div.left_contact{
  width: 50%;
  height: 200px;;
  text-align: center;
  float: left;
  padding: 30px 5px 5px 5px;
  box-sizing: border-box;
}

div.left_contact h1 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

div.left_contact h2 {
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-decoration: none;
}

div.right_contact{
  width: 50%;
  height: 200px;;
  text-align: center;
  display: inline-block;
  padding: 30px 5px 5px 5px;
  box-sizing: border-box;
  border-left: 1px solid rgb(0, 0, 0);
}

div.right_contact h1 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

div.right_contact h2 {
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-decoration: none;
}

/* 문의 바로가기 버튼 */

.button_enquiry {
  margin: 0 auto;
  padding: 0;
  max-width: 760px;
  clear: both;
  line-height: 1.8;
}

.button_enquiry a {
  background:#8D2126;
  border: 1px solid #8D2126;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  border-radius: 100px; 
  font-size: 16px;
  padding: 8px 16px;
  font-weight: 600;
}


/* logo image tag */
img.logo{
  border: 0px;
  padding-top: 0px;
  width: 80px;
  height: 40px;
  /* display: inline-block; */
  /* float: left; */
}

/*container*/
#content {
  overflow: auto;
  height: 100%;
  /*width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  background-color: aquamarine;*/
}

#content-header {
  overflow: auto;
  height: 100%;
}


/*header*/
.page-header {
  background-color: #ffffff;
  margin-top: 0;
  padding: 20px 0px 0px 0px;
  text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
  color: #8D2126;
  font-size: 14px;
  text-decoration: none;
}

.page-header-search{
  background-color: #ffffff;
  margin-top: 0;
  padding: 0px 0px 10px 0px;
  text-align: center;
}

/* Footer */

.page-footer-link ul {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  vertical-align: middle;
  list-style: none;
  width: 100%;
  height: 40px;
  background: #ededed;
}

.page-footer-link ul li {
  margin-top: 10px;
  float: right;
  margin-right: 30px;
}

.page-footer-link ul li a {
  font-size: 12px;
  text-align: center;
  color: rgb(36, 34, 34);
  font-weight: bold;
  vertical-align: middle;
  text-decoration: none;
}


.page-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #2A2A2A;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.page-footer h4, .page-footer h4 a, .page-footer h4 a:visited, .page-footer h4 a:active {
  color: #ffffff;
  line-height: 130%;
  font-size: 11px;
}

/*메뉴*/
#menu ul {
  margin-left: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
  list-style: none;
  width: 100%;
  height: 40px;
  background: #8D2126;
}

#menu ul li {
  margin-top: 10px;
  vertical-align: middle;
  float: left;
  margin-right: 30px;
}

#menu ul li a {
  font-size: 12px;
  color: white;
  font-weight: bold;
  vertical-align: middle;
  text-decoration: none;
}

/* 헤더 검색폼 */

div.search {
  display: inline-block;
  height: 40px;
  width: 400px;
  border: 1px solid #8D2126;
  background: #ffffff;
}

 input.search{
  font-size: 16px;
  width: 325px;
  padding: 10px;
  border: 0px;
  outline: none;
  float: left;
}

button.search{
  width: 50px;
  height: 100%;
  border: 0px;
  background: #8D2126;
  outline: none;
  float: right;
  color: #ffffff;
}

/* 맞춤 공고 검색 폼 */

div.search_bid {
  /* display: inline-block; */
  height: 100%;
  width: 650px;
  /*border: 1px solid #CACACA;*/
  background: #ffffff;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

div.search_bid_content{
  padding: 20px 20px 20px 20px;
}


/* 지역 드롭다운 리스트 */

div.form{
  display: inline-block;
  height: 40px;
  width: 100%;
  border: 1px solid #8D2126;
  background: #ffffff;
}


select.location{
  font-size: 16px;
  height:100%;
  width: 100%;
  padding: 0px 15px;
  border: 0px;
  outline: none;
  float: left;
  -webkit-appearance: none; /* 화살표 없애기 for chrome*/
  -moz-appearance: none;    /* 화살표 없애기 for firefox*/
  appearance: none;         /* 화살표 없애기 공통*/
}

select.location::-ms-expand {
  display: none;            /* 화살표 없애기 for IE10, 11*/
}


/* 업종, 세부품명 입력 */

div.input_content{
  width: 100%;
  padding: 5px 5px 5px 5px;
  box-sizing: border-box;
}

div.input {
  display: inline-block;
  height: 40px;
  width: 100%;
  border: 1px solid #8D2126;
  background: #ffffff;
}

input.search1{
  font-size: 16px;
  width: 100%;
  padding: 10px;
  border: 0px;
  outline: none;
  float: left;
}

/* 맞춤 검색 보기 버튼 */

div.button_bidlist_content{
  width: 100%;
  padding: 5px 5px 5px 0px;
  box-sizing: border-box; 
}

div.button_bidlist {
  display: inline-block;
  height: 40px;
  width: 100%;
  border: none;
  background: #ffffff;
}

button.bid_list{
  width: 150px;
  height: 100%;
  border: 0px;
  background: #8D2126;
  outline: none;
  float: right;
  color: #ffffff;
}

/* 자체 조달시스템 바로가기 */

div.bid_system{
  /*display: inline-block;*/
  margin-top: 5px;
  margin-right: 10px;
  float: right;
  height: 30px;
  width: 200px;
  border: 1px solid #8D2126;
  background: #ffffff;
}

select.bid_system{
  font-size: 12px;
  height:100%;
  width: 100%;
  padding: 0px 15px;
  border: 0px;
  outline: none;
  float: left;
  -webkit-appearance: none; /* 화살표 없애기 for chrome*/
  -moz-appearance: none;    /* 화살표 없애기 for firefox*/
  appearance: none;         /* 화살표 없애기 공통*/
}

select.bid_system::-ms-expand {
  display: none;            /* 화살표 없애기 for IE10, 11*/
}

/* Column */
div.column1{
  float:left;
  width: 150px;
  height: 400px;
  border: 1px solid #CACACA;
}

div.column2{
  float: left;
  width: 660px;
  height: 400px;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  /*border: 1px solid #CACACA;*/
}

div.column3{
  float: left;
  width: 150px;
  height: 500px;
  border-left: 1px solid #CACACA;
  border-right: 1px solid #CACACA;
}

div.column4{
  float: left;
  width: 330px;
  height: 500px;
  padding: 10px 10px 10px 10px;
}

div.column5{
  float: left;
  width: 330px;
  height: 500px;
  border-left: 1px solid #CACACA;
  padding: 10px 10px 10px 10px;
}

div.column6{
  float: left;
  width: 30%;
  height: 70px;
  border: 0px solid #CACACA;
  padding: 10px 15px 0px 10px;
  text-align: right;
}

div.column7{
  float: left;
  width: 70%;
  height: 70px;
  border-top: 0px solid #CACACA;
  border-bottom: 0px solid #CACACA;
  padding: 18px 0px 0px 10px;
}

div.column8{
  float:left;
  width: 150px;
  height: 400px;
  border-left: 1px solid #CACACA;
  border-right: 1px solid #CACACA;
}

div.column9{
  float: left;
  width: 600px;
  height: 400px;
}

/* 테이블 디자인 */
div table {
  font-size: 10px;
}


/*문의 폼 디자인*/

div.column_enquiry1{
  float:left;
  width: 150px;
  height: 100%;
  /*border: 1px solid #CACACA;*/
}

div.column_enquiry2{
  float: left;
  width: 660px;
  height: 100%;
  border-left: 1px solid #CACACA;
  border-right: 1px solid #CACACA;
  margin-bottom: 0px;
  /*border: 1px solid #CACACA;*/
}

div.enquiry {
  /* display: inline-block; */
  height: 100%;
  width: 600px;
  /*border: 1px solid #CACACA;*/
  background: #ffffff;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

div.enquiry_content{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 50px;
  padding-right: 0px;
}

div.enquiry_content h2 {
  font-size: 16px;
  color: #2A2A2A;
  line-height: 1.5em;
  vertical-align: middle;
  text-decoration: none;
}

div.enquiry_content h3 {
  font-size: 18px;
  color: #103E5C;
  line-height: 1.5em;
  vertical-align: middle;
  text-decoration: none;
  font-weight: bold;
}

div.left_enquiry{
  width: 70%;
  float: left;
  padding: 5px 5px 5px 5px;
  box-sizing: border-box;
}

div.right_enquiry{
  width: 30%;
  display: inline-block;
  padding: 5px 5px 5px 5px;
  box-sizing: border-box;
}

 /*텍스트 입력_문의란*/
div.input_enquiry{
  width: 100%;
  padding: 5px 5px 5px 5px;
  box-sizing: border-box;
}


div.input_enquiry_1 {
  display: inline-block;
  height: 40px;
  width: 100%;
  border: 1px solid #8D2126;
  background: #ffffff;
}

input.enquiry{
  font-size: 16px;
  width: 100%;
  padding: 10px;
  border: 0px;
  outline: none;
  float: left;
}

/* 체크박스 디자인 */

div.column_check1{
  float: left;
  width: 24%;
  height: 30px;
  /*border: 1px solid #CACACA;*/
}
div.column_check2{
  float: left;
  width: 24%;
  height: 30px;
  /*border: 1px solid #CACACA;*/
}
div.column_check3{
  float: left;
  width: 14%;
  height: 30px;
  /*border: 1px solid #CACACA;*/
}

.check{
  display:block; 
  position:relative; 
  margin-bottom:12px; 
  padding-left:25px; 
  font-size:15px; 
  cursor:pointer; 
  user-select:none;
  -webkit-user-select:none; 
  -moz-user-select:none; 
  -ms-user-select:none;
}
.check input{
  position:absolute;
  opacity:0;
  cursor:pointer;
}
.checkmark{
  position:absolute;
  top:0; 
  left:0px; 
  width:20px; 
  height:20px; 
  background-color:#fff; 
  border:1px solid #8D2126;
}
.check:hover input ~ .checkmark{
  background-color:#ccc;
}
.check input:checked ~ .checkmark{
  background-color:#8D2126;
}
.checkmark:after{
  display:none; 
  position:absolute; 
  content:"";
}
.check input:checked ~ .checkmark:after{
  display:block;
}
.check .checkmark:after{
  top:2px; 
  left:7px; 
  width:5px; 
  height:10px; 
  border:solid white; 
  border-width:0 3px 3px 0; 
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
}

/* 참고사항 텍스트 에어리어 */
div.input_enquiry_textarea{
  width: 100%;
  height: 300px;
  padding: 70px 0px 5px 0px;
  box-sizing: border-box;
}

div.text_enquiry {
  display: inline-block;
  height: 200px;
  width: 100%;
  border: 1px solid #8D2126;
  background: #ffffff;
}

textarea.enquiry{
  font-size: 16px;
  resize: none;
  width: 100%;
  height: 190px;
  padding: 10px;
  border: 0px;
  outline: none;
  float: left;
}

/*서비스*/
div.service {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 50px;
  margin-bottom: 0px;
}

div.service h1 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

div.service h2 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 1.5em;
  text-decoration: none;
}

div.service1 {
  width: 100%;
  height: 500px;
  text-align: center;
  padding: 10px;
  margin-bottom: 0px;
  background-image: url('/images/arrow_bg.png');
}

div.service1 h1 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

div.service1_content {
  width: 100%;
  height: 450px;
  padding: 50px 100px 50px 100px;
}

div.service1_content h1 {
  color: rgb(23, 59, 136);
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}

div.service1_content h2 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-decoration: none;
}

div.service2 {
  width: 100%;
  height: 100%;
  padding: 20px 30px 20px 0px;;
  margin-bottom: 0px;
}

div.service2 h1 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

/* FAQ */
#faq_list ul {
  margin-left: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
  list-style: none;
  width: 100%;
  height: 40px;
  background: #ffffff;
}

#faq_list ul li {
  margin-top: 10px;
  vertical-align: middle;
  float: right;
  margin-right: 30px;
}

#faq_list ul li a {
  font-size: 12px;
  color: #000000;
  font-weight: bold;
  vertical-align: middle;
  text-decoration: none;
}


/*제휴문의*/
div.partner {
  width: 660px;
  height: 400px;
  padding-top: 0px;
  padding-left: 50px;
  text-align: center;
}

/*제휴문의 테이블*/
table.partner {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  font-size: 14px;
}
table.partner thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
}
table.partner tbody th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
}

table.partner td {
  width: 400px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

/* 체용 버튼 */

div.partner1 {
  width: 650px;
  height: 100px;
  padding-top: 20px;
  padding-left: 250px;
}

div.button_partner {
  display: inline-block;
  height: 40px;
  width: 100%;
  border: none;
  background: #ffffff;
}

button.partner{
  width: 150px;
  height: 100%;
  border: 0px;
  background: #8D2126;
  outline: none;
  /*float: right;*/
  color: #ffffff;
}