<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
</head>

<body>
  <% include ../partials/javascript %>
 
  <% include ../partials/header.ejs %>
  <% include ../partials/menu.ejs %>

    <div class="container">
      <p class="lead">Welcome to <%= title %></p>
    </div>
    
   <% include ../partials/footer.ejs %>
</body>
</html>
