<!DOCTYPE html>
<html>
  <body>
    <% include ../partials/javascript %>
    <head>
        <% include ../partials/head.ejs %>
    </head>

    <!-- 최상단 메뉴 : 기본 메뉴 / 회원가입/ 로그인 등-->
    <% include ../partials/menu.ejs %>
    <!-- header : 페이지 타이틀 , 통합 검색창-->
    <% include ../partials/header_sub.ejs %>

    <hr>

    <div id="content">
      <div class="column_enquiry1">
          <ul class="list-group list-group-flush">
              <!--<li class="list-group-item"><a href="/csCenter">문의하기</a></li>-->
              <li class="list-group-item"><a href="/service">프라임 분석 서비스</a></li>
              <li class="list-group-item"><a href="/qna">자주 묻는 질문</a></li>
              <li class="list-group-item"><a href="/partner">제휴문의</a></li>
          </ul>
      </div>
      <div class="column_enquiry2">
        
        <!-- 서비스 안내 -->
        <div class="service" oncontextmenu="return false" ondragstart="return false" onselect='return false'>
            <h1>프라임 분석 서비스</h1>
            <br>
            <h2>귀사만이 가지고 있는 강점과 특성을 정확히 파악하여
                공공 조달시장 시장 진출을 위한 가장 효율적인 방안을 제시합니다.</h2>
        </div>
        <div oncontextmenu="return false" ondragstart="return false" onselect='return false'>
            <img src ="/images/service.png" style="height: 350px; width: 660px;" alt="service">
        </div>
         <hr>
    
        <div class="service2">
            <% include ../partials/enquiry.ejs %>   
        </div>

        <!--<div class="service1">
            <h1>업무 진행도</h1>
            <div class="service1_content">
                <h1>1. 고객 문의 접수 . 사전 미팅</h1>
                <h2>고객의 문의사항을 바탕으로한 첫 대면 무료 방문상담을 원칙으로 합니다.</h2>
                <br>
                <h1>2. 계약체결 후 회원사 분석</h1>
                <h2>사전 상담을 통하여 회원사의 니즈를 파악하여 실적 및 현황 등 입찰 참여를 위한 제반사항을 분석합니다.</h2>
                <br>
                <h1>3. 발주계획 및 공고문 추천</h1>
                <h2>회원사의 업종,제공 품목, 지역 등을 기준으로 입찰 참가 가능여부를 판단하여 가장 적합한 공고를 선별하여 온/오프라인을 통하여 추천합니다. </h2>
                <br>
                <h1>4. 입찰가 분석 및 적격심사 준비</h1>
                <h2>회원사가 선택한 공고에 대한 투찰가 분석과 해당 입찰건의 적격심사 준비를 제공하여 성공적인 낙찰 방법을 제시합니다.</h2>
            </div>
        </div>-->
      </div>
      <div class="column_enquiry1"></div>
     
    </div>

  <!--footer-->
    <footer>
        <% include ../partials/footer.ejs %> 
    </footer>

    </body>

</html>