<!DOCTYPE html>
<html>
  <body>
    <% include ../partials/javascript %>
    <head>
        <% include ../partials/head.ejs %>
    </head>

    <!-- 최상단 메뉴 : 기본 메뉴 / 회원가입/ 로그인 등-->
    <% include ../partials/menu.ejs %>
    <!-- header : 페이지 타이틀 , 통합 검색창-->
    <% include ../partials/header_sub.ejs %>

    <hr>

    <div id="content">
      <div class="column_enquiry1">
          <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="/csCenter">문의하기</a></li>
              <li class="list-group-item"><a href="/service">서비스 소개</a></li>
              <li class="list-group-item"><a href="/qna">자주 묻는 질문</a></li>
              <li class="list-group-item"><a href="/partner">제휴문의</a></li>
          </ul>
      </div>
      <div class="column_enquiry2">
        
        <!-- 서비스 안내 -->
        <div class="service" oncontextmenu="return false" ondragstart="return false" onselect='return false'>
            <h1>서비스 분야</h1>
            <br>
            <h2>귀사만이 가지고 있는 강점과 특성을 정확히 파악하여
                공공 조달시장 시장 진출을 위한 가장 효율적인 방안을 제시합니다.</h2>
        </div>
        <div>
            <img src ="/images/service.png" style="height: 350px; width: 660px;" alt="service">
        </div>
       <hr>
        <div>
            <h1>프라임컨설팅의 업무 진행도</h1>

        </div>
      </div>
      <div class="column_enquiry1"></div>
     
    </div>

  <!--footer-->
    <footer>
        <% include ../partials/footer.ejs %> 
    </footer>

    </body>

</html>